<!-- howdy/templates/index.html -->
<!-- howdy/templates/index.html -->
<html>
    <head>
        <meta charset="utf-8">
        <title>Gun Violence Database</title>
        <style>
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

        .button {background-color: #008CBA;} /* Blue */
        </style>
    </head>
    <body>

      <h1>Insert</h1>
      <form action = '' method="post">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      
      <a href="/insert">
      <input type = "submit" value = "insert">

      </a>
    </form>
      <a href="/">
      <!-- <button class="button button"> -->
        <input type = "submit" value = "home">
        <!-- Search -->
      </a>
    </body>
</html>
