<!-- howdy/templates/index.html -->
<!-- howdy/templates/index.html -->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />        
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
      </head>
      <body>
        <!-- Header -->
        <header id="header">
            <h1><a href="^$">GUN</a> Violence Database</h1>
            <ul>
            <nav id="nav">
              <li style="white-space: :nowrap;"><a href="^$">home</a></li>
            </nav>
          </ul>
        </header>
      <title>Gun Violence Database</title>

      <h1>Insert</h1>
      <form action = '' method="post">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      
      
    </form>
    <a href="/insert">
      <input type = "submit" value = "insert">

      </a>
      <a href="/">
      <!-- <button class="button button"> -->
        <input type = "submit" value = "home">
        <!-- Search -->
      </a>
    </body>
</html>
