<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
        <h1><a href="/">GUN</a> Violence Database</h1>
        <ul>
        <nav id="nav">
          <li style="white-space: :nowrap;"><a href="/">home</a></li>
        </nav>
      </ul>
    </header>
    <section id="main" class="container">
    <h1>Search</h1>
  <form action = '' method="post">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
  
    <a href="/search">
      <input type = "submit" value = "search">

    </a>
  </form>
  </section>


    <table border="1" cellpadding ="30">
      <thread>
        <tr>
          <td>Incident_id</td>
          <td>Address</td>
          <td>City</td>
          <td>State</td>
          <td>Date</td>
          <td>Deaths_count</td>
          <td>Related_Reports</td>
        </tr>
      </thread>
      <tbody>
        {% for obj in data %}
          <tr>
            <td>{{obj.0}}</td>
            <td>{{obj.2}}</td>
            <td>{{obj.4}}</td>
            <td>{{obj.3}}</td>
            <td>{{obj.1}}</td>
            <td>{{obj.5}}</td>
            <td>{{obj.6}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </body>
</html>

<!-- 
      <p>{{obj.0}}
      {{obj.2}}
      {{obj.4}}
      {{obj.3}}
      {{obj.1}}
      {{obj.5}}
      {{obj.6}}</p> -->
<!-- <P>{{ i.incident_id }} - {{ i.date }} - {{ i.address }} - {{ i.state }} - {{ i.city }} - {{ i.n_killed }} - {{ i.source_url }}print 
</P> -->