<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>Search.html</title>
    <meta charset = "UTF-8" />
    <style>
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
​
    .button {background-color: #008CBA;} /* Blue */
    </style>
  </head>
  <body>
​     <h2>{{ html }}</h2>
    <h1>Search</h1>
  <form action = '' method="post">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
  
    <a href="/search">
      <input type = "submit" value = "search">

    </a>
  </form>
    <a href="/">
      <!-- <button class="button button"> -->
        <input type = "submit" value = "home">
        <!-- Search -->
    </a>


    <table border="1" cellpadding ="30">
      <thread>
        <tr>
          <th>Incident_id</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Date</th>
          <th>Deaths_count</th>
          <th>Related_Reports</th>
        </tr>
      </thread>
      <tbody>
        {% for obj in data %}
          <tr>
            <th>{{obj.0}}</th>
            <th>{{obj.2}}</th>
            <th>{{obj.4}}</th>
            <th>{{obj.3}}</th>
            <th>{{obj.1}}</th>
            <th>{{obj.5}}</th>
            <th>{{obj.6}}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </body>
</html>

<!-- 
      <p>{{obj.0}}
      {{obj.2}}
      {{obj.4}}
      {{obj.3}}
      {{obj.1}}
      {{obj.5}}
      {{obj.6}}</p> -->
<!-- <P>{{ i.incident_id }} - {{ i.date }} - {{ i.address }} - {{ i.state }} - {{ i.city }} - {{ i.n_killed }} - {{ i.source_url }}print 
</P> -->